.hero-section {
    background: var(--background-gradient);
    min-height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: var(--padding-large);
    animation: fadeIn var(--transition-speed) ease-in;
    color: white;
    text-align: center;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

.hero-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: var(--padding-small); /* Added padding for breathing space */
    flex-wrap: wrap; /* Allows items to wrap on smaller screens */
}

.hero-text {
    max-width: 600px;
    margin-bottom: var(--padding-small); /* Adjusted for better spacing */
    flex: 1; /* Ensures the text takes up available space */
}

.hero-content h1 {
    font-size: var(--font-size-large);
    margin-bottom: var(--padding-small);
    animation: slideIn var(--transition-speed) ease-in;
}

@keyframes slideIn {
    from { transform: translateY(-10px); }
    to { transform: translateY(0); }
}

.hero-content p {
    font-size: var(--font-size-medium);
    margin-bottom: var(--padding-large);
    line-height: 1.6;
}

.hero-button {
    background-color: var(--secondary-color);
    color: white;
    padding: var(--padding-small) var(--padding-large);
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-size: var(--font-size-small);
    transition: background-color var(--transition-speed) ease;
}

.hero-button:hover {
    background-color: var(--button-hover-color);
}

.hero-button:focus {
    outline: 3px solid white;
}

.hero-image-container {
    flex: 1; /* Allows the image container to take up available space */
    width: 100%; /* Full width on smaller screens */
    max-width: 600px; /* Max width for larger screens */
    margin-top: var(--padding-small); /* Spacing between text and image on mobile */
}

.hero-image {
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: top; /* Ensures the image is cropped from the bottom */
    border-radius: var(--border-radius);
}

@media (max-width: 768px) {
    .hero-content {
        flex-direction: column; /* Stack content vertically */
    }

    .hero-text {
        margin-bottom: var(--padding-small); /* Add space below text */
        text-align: center;
    }

    .hero-content h1 {
        font-size: 2.5rem; /* Adjust font size for mobile */
    }

    .hero-content p {
        font-size: 1.125rem; /* Adjust font size for mobile */
    }

    .hero-button {
        font-size: 0.9rem; /* Adjust font size for mobile */
        padding: 0.75rem 1.5rem; /* Adjust padding for mobile */
    }

    .hero-image-container {
        margin-top: var(--padding-small);
        width: 100%;
        max-width: 400px; /* Adjust max-width for smaller screens */
        height: auto;
    }
}
