/* Hero Section Styles */
.heroSection {
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('../assets/blog-hero-bg.png') center/cover no-repeat;
    padding: 4rem 1rem;
    text-align: center;
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    margin-bottom: 2rem;
    animation: fadeIn 1.5s ease-in-out;
    color: white; /* Ensure text is white for better contrast */
}

.contentWrapper {
    padding: 2rem;
    background-color: rgba(255, 255, 255, 0.1); /* Subtle overlay effect */
    border-radius: var(--border-radius);
}

.heroSection h1 {
    font-size: var(--font-size-title);
    color: white;
    margin-bottom: 1rem;
    font-weight: bold;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); /* Enhance text visibility */
}

.heroSection p {
    font-size: var(--font-size-text);
    color: white;
    max-width: 800px;
    margin: 0 auto;
    line-height: var(--line-height-text);
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); /* Enhance text visibility */
}

@keyframes fadeIn {
    from { opacity: 0; transform: translateY(10px); }
    to { opacity: 1; transform: translateY(0); }
}

@media (max-width: 768px) {
    .heroSection {
        padding: 2rem 1rem;
    }

    .heroSection h1 {
        font-size: var(--font-size-title-mobile);
    }

    .heroSection p {
        font-size: var(--font-size-text-mobile);
    }
}

.contentWrapper {
    margin: 0 auto;
    padding: 2.5rem;
    background-color: rgba(255, 255, 255, 0.15); /* Slightly more pronounced overlay */
    border-radius: var(--border-radius);
}

/* Blog Page Styles */
.blogPage {
    margin: 0 auto;
    background-color: #f9f9f9;
}

.articleList {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
    padding: 0 1rem;
}

.article {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.article:hover {
    transform: translateY(-5px);
    box-shadow: 0 12px 20px rgba(0, 0, 0, 0.15);
}

.articleImage {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.articleContent {
    padding: 1.5rem;
}

.articleContent h2 {
    font-size: 1.75rem;
    color: #333;
    margin-bottom: 1rem;
    font-weight: 600;
}

.articleContent p {
    font-size: 1rem;
    color: #555;
    margin-bottom: 1rem;
    line-height: 1.5;
}

.articleContent small {
    display: block;
    margin-bottom: 1rem;
    color: #aaa;
}

.readMoreLink {
    color: #0070f3;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

.readMoreLink:hover {
    color: #0056b3;
}
