/* Navbar container */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary-color);
    padding: 0 1.5rem;
    height: var(--navbar-height);
    position: sticky;
    top: 0;
    z-index: 1000;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Navbar logo */
.navbar-logo {
    display: flex;
    align-items: center;
}

.navbar-image {
    width: 45px;
    height: 45px;
    border-radius: 50%;
}

/* Navbar links */
.navbar-links {
    display: flex;
    gap: 2.5rem;
    align-items: center;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.navbar-links a {
    color: white;
    font-size: 1.2rem;
    transition: color 0.3s ease;
}

.navbar-links a:hover {
    color: var(--cta-secondary-color);
}

/* Navbar toggle (hamburger icon) */
.navbar-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
    gap: 6px;
    padding: 10px; /* Increase padding for larger click area */
}

.navbar-toggle .bar {
    height: 3px;
    width: 28px;
    background-color: white;
    transition: all 0.3s ease;
    border-radius: 5px;
}

.navbar-toggle .bar.open {
    background-color: var(--cta-secondary-color);
}

.navbar-toggle .bar:nth-child(1).open {
    transform: translateY(9px) rotate(45deg);
}

.navbar-toggle .bar:nth-child(2).open {
    opacity: 0;
}

.navbar-toggle .bar:nth-child(3).open {
    transform: translateY(-9px) rotate(-45deg);
}

/* Responsive adjustments for Navbar */
@media (max-width: 768px) {
    .navbar-links {
        display: none;
        flex-direction: column;
        width: 100%;
        text-align: center;
        background-color: var(--primary-color);
        position: absolute;
        top: var(--navbar-height);
        left: 0;
        padding: 1rem 0;
        transform: translateY(-100%);
        opacity: 0;
    }

    .navbar-links.open {
        display: flex;
        transform: translateY(0);
        opacity: 1;
    }

    .navbar-toggle {
        display: flex;
    }

    .navbar-cta {
        margin-top: 1rem;
        text-align: center;
    }

    .cta-button {
        width: 90%;
        padding: 1rem 0;
        margin: 0 auto;
    }
}
